{{!< default}}

{{#contentFor "customHeader"}}
<link rel="stylesheet" type="text/css" href="{{asset "css/post.css"}}">
<link rel="stylesheet" type="text/css" href="{{asset "css/markdown.css"}}">
{{/contentFor}}

{{#contentFor "bigTitle"}}
<a href="{{@blog.url}}">
    <h1>{{@blog.title}}</h1>
    <p></p>
</a>
{{/contentFor}}

{{#post}}
<article class="post">
    <header>
        <h1 class="posttitle" itemprop="name headline">{{title}}</h1>

        <p></p>

        <div class="meta">
                       
            <div class="postdate">
                <time datetime="{{date format="MMM DD, YYYY"}}" itemprop="datePublished">{{date format="MMM DD, YYYY"}}</time>
            </div>
            
            <div class="article-tag">
                <i class="fa fa-tag"></i>
                {{#foreach tags}}
                    <a class="tag-link" href="{{url}}">{{name}}</a>
                {{/foreach}}
            </div>

            <p></p>
            
            <div>
                <span class="eta">
                    There are 
                    <span class="word-count" style="color:#42b983;"></span> 
                    words that may take 
                    <span class="read-time" style="color:#42b983"></span>
                    minutes
                </span>
            </div>
        </div>
    </header>

    <div class="content" itemprop="articleBody">{{content}}</div>
</article>

<div class="blog-post-comments">
    {{> "comment"}}
</div>
{{/post}}

{{#contentFor "scripts"}}
<script type="text/javascript" async src="{{asset "js/eta.js"}}"></script>
{{/contentFor}}